.heading {
  font-size: 24px;
  margin-bottom: 60px;
  color: #333;
}

.fr.el-button {
  transform: translateY(-3px);
}

.fr {
  float: right;
  padding: 0;

  a {
    display: block;
    padding: 10px 15px;
    color: #333;
  }
}


.timeline {
  padding: 0 0 10px;
  position: relative;
  color: #5e6d82;

  &>li {
    position: relative;
    padding-bottom: 15px;
    list-style: none;
    line-height: 1.8;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  &>li:not(:last-child) {
    margin-bottom: 50px;
  }

  h3 {
    margin: 0;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    color: #333;
    font-weight: 700;

    a {
      opacity: 1;
      font-size: 20px;
      float: none;
      margin-left: 0;
      color: #333;
    }
  }

  p {
    margin: 0;
  }

  em {
    position: absolute;
    right: 30px;
    font-style: normal;
    top: 23px;
    font-size: 16px;
    color: #666;
  }

  h4 {
    margin: 0 0 -10px;
    font-size: 18px;
    padding-left: 54px;
    padding-top: 30px;
    font-weight: 700;
  }

  ul {
    padding: 30px 30px 15px;
  }

  li li {
    font-size: 16px;
    list-style: none;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #333;
    word-break: break-all;
  }
}
