pre[class*=language-] {
  background: #f6f6f6;
}

pre[class*=language-] {
  margin: 16px 0;
  padding: 12px 20px;
  overflow: auto;
}

.highlight {
  position: relative;
}

i {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 24px;
  color: #b0bec5;
  cursor: pointer;

  &:hover {
    color: #6e6e6e;
  }
}
