<div class="is-component">

  <!-- notice -->
  <nel-alert [nelTitle]="noticeTpl" [nelType]="'warning'" [nelClosable]="false" nelCenter></nel-alert>
  <ng-template #noticeTpl>
    Ng Element UI 正在开发中，敬请期待。联系我：<a class="u-email Link--primary "
      href="mailto:llkui241569@163.com">llkui241569@163.com</a>
  </ng-template>

  <!-- Toolbar -->
  <header class="header">
    <div class="toolbar" role="banner">
      <img width="40" alt="Angular Logo" src="./assets/ng-element.svg" />
      <span>Ng Element Plus</span>
      <div class="spacer"></div>
      <a target="_blank" rel="noopener" href="https://ng-element.github.io/" style="color: #409eff;margin: 0 20px;">
        Ng Element UI
      </a>
      <!-- <a target="_blank" rel="noopener" href="https://github.com/ng-element/ng-element-plus" style="color: #409eff;
          font-size: 30px;
          margin: 0 20px;">
        <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em" data-icon="github"
          aria-hidden="true">
          <path
            d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0138.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z">
          </path>
        </svg>
      </a> -->
    </div>
  </header>

  <div class="main-cnt">
    <nel-scrollbar #scrollbar [nelWrapClass]="'mainWrap'">
      <div class="page-container page-component">
        <div class="page-component__nav">
          <nel-scrollbar>
            <div class="side-nav is-fade">
              <ul>
                <!-- <li class="nav-item">
                  <a routerLink="/changelog" routerLinkActive="active">
                    更新日志
                  </a>
                </li> -->
                <li class="nav-item">
                  <a>开发指南</a>
                  <ul class="pure-menu-list sub-nav" style="height: auto;">
                    <li class="nav-item">
                      <a routerLink="/installation" routerLinkActive="active">
                        安装
                      </a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/quickstart" routerLinkActive="active">
                        快速上手
                      </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="i18n">国际化</a>
                      </li>
                      <li class="nav-item">
                        <a href="custom-theme">自定义主题</a>
                      </li>
                    <li class="nav-item">
                      <a routerLink="/transition" routerLinkActive="active">
                        内置过渡动画
                      </a>
                    </li> -->
                  </ul>
                </li>
                <li class="nav-item">
                  <a>组件</a>
                  <div class="nav-group" *ngFor="let group of groupList">
                    <div class="nav-group__title">{{group.title}}：{{group.menuList.length}}</div>
                    <ul class="pure-menu-list" style="height: auto;">
                      <li class="nav-item" *ngFor="let item of group.menuList">
                        <a [routerLink]="'/' + item.link" routerLinkActive="active">
                          {{item.name}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </nel-scrollbar>
        </div>

        <div class="page-component__content">
          <router-outlet></router-outlet>
          <!-- <app-nav-bottom></app-nav-bottom> -->
          <nel-backtop [nelTarget]="'.mainWrap'"></nel-backtop>
        </div>
      </div>
    </nel-scrollbar>
  </div>
</div>
